<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
		<title>CSS Grid Template Areas</title>
        <link rel="stylesheet" href="$assetsDir/css/main.css" />
	</head>

	<body>
        <header>Header</header>
        <main>Content</main>
        <nav>Navigation</nav>
        <aside>Sidebar</aside>
        <footer>Footer</footer>
	</body>
</html>
